.form-login{
    margin: 200px 200px;
    padding: 36px 48px;
    border-radius: 15px;
    border: 1px solid #007E6F;
}

.card {
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 0 150px;
    padding: 50px;
}

.card p {
    margin-bottom: 20px;
}

.card ul {
    margin-bottom: 20px;
}

.card-title:hover {
    color: red;
}

.card-button:active {
    border: 5px solid red;
}

.link {
display: block;
margin-bottom: 20px;
}

.link:focus {
    color: green;
}

.card-ul li:nth-child(2n) { /* (2n + 1) */
color: red;
}

